# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

#results/
#.csv
#.swp
#
#data/

*credentials/
C:\Portand State University\PSU Undergraduate Research and Mentorship Program\Sieve\src\main\resources\credentials\sample\sample.properties
